---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustedLenders from '../components/TrustedLenders.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ProductsSection from '../components/ProductsSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import EligibilitySection from '../components/EligibilitySection.astro';
import Footer from '../components/Footer.astro';

export const prerender = true;
---

<Layout>
	<Header />
	<main>
		<Hero />
		<TrustedLenders />
		<EligibilitySection />
		<HowItWorks />
		<ProductsSection />
		<TestimonialsSection />
	</main>
	<Footer />
</Layout>
